* {
  box-sizing: border-box;
}
.body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: aqua;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1110px) {
  body {
    overflow-y: scroll;
  }
}
