.header {
  width: 90%;
  height: 90px;
  border-radius: 10px;
  background-color: rgba(39, 153, 153, 0.329);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  margin: 1rem auto;
  box-shadow: var(--shadow);
}

.header__title {
  font-weight: 600;
  font-size: 28px;
  text-shadow: var(--shadow);
}

.header__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.header__clock {
  width: 140px;
  height: 40px;
  background-color: rgba(229, 255, 196, 0.801);
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 24px;
}
